@using Service.Models

@{
  ViewBag.Title = "Archive";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@model IList<Article>
@if (Model == null || Model.Count() == 0)
{
  <p>No archived article to show yet.</p>
}
else
{
  <div class="row">
    @for (var wIndex = 0; wIndex < Model.Count; wIndex++)
    {
      <div class="col-md-4">
        <h2>
          @Html.ActionLink(Model[wIndex].Title, "Article", new { articleId = Model[wIndex].Id })
        </h2>
        <h3>@Model[wIndex].Summary</h3>
      </div>
    }
  </div>
  <div class="jumbotron">
    @for (var wIndex = 0; wIndex < ViewBag.ArchiveLength; wIndex++)
    {
      @Html.ActionLink((wIndex + 1).ToString(), "ArchiveStep", new { step = wIndex });
    }
  </div>
}
