@using Service.Models
@{
  ViewBag.Title = "Article";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Article

<h2>@Model.Title</h2>


<h3>@Model.Summary</h3>

<p>@Model.Content</p>


<div>
  @if (ViewBag.Images != null && ViewBag.Images.Count > 0)
  {
    Guid wId = ViewBag.Images.FirstOrDefault();  // a képek azonosítóit a nézet adataihoz töltöttük be
    <div class="col-md-4">
      <strong>Images</strong><br />
      <a href="@Url.Action("ArticleImage","Galery", new { Id = Model.Id })">
        @* képként betöltjük a kis méretű képet, a galeriara pedig elhelyezünk egy hivatkozást *@
        <img src="@Url.Action("ArticleImage", new { Id = wId })" class="img-thumbnail" />
      </a>

    </div>
    }
  </div>

  <cite>~ Edited: @Model.Date.Value.ToLongTimeString()  Author: @(string.IsNullOrWhiteSpace(@Model.Accounts.name) ? "Unkown" : @Model.Accounts.name) ~</cite>