@using Service.Models
@{
  ViewBag.Title = "Article";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Article

<h2>@Model.Title</h2>


<h3>@Model.Summary</h3>

<p>@Model.Content</p>


<div>
  @if (ViewBag.ArticleImageId != null && ViewBag.ArticleImageId != Guid.Empty)
  {
    Guid wId = ViewBag.ArticleImageId;  // a képek azonosítóit a nézet adataihoz töltöttük be
    var wImage = Url.Action("ArticleImage", "Home", new { Id = wId });

    <div class="jumbotron">
      <strong>Images</strong><br />
      <a href="@Url.Action("Galery","Home", new { articleId = Model.Id , step= 0})">
        @* képként betöltjük a kis méretű képet, a galeriara pedig elhelyezünk egy hivatkozást *@
        <img src="@Url.Action("ArticleImage","Home", new { Id = wId })" class="img-thumbnail" />
      </a>

    </div>
  }
</div>

<cite>~ Edited: @Model.Date.Value.ToLongTimeString() </cite>
<cite>~   Author: @(string.IsNullOrWhiteSpace(@Model.Accounts.name) ? "Unkown" : @Model.Accounts.name) ~</cite>