@using Service.Models
@{
  ViewBag.Title = "Article";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Article

<h2>@Model.Title</h2>


<h3>@Model.Summary</h3>

<p>@Model.Content</p>


<div>
  @if (ViewBag.Images != null && ViewBag.Images.Count > 0) // ha van kép a cikkhez csak masolnom kellett a peldabol...
  {
    <div class="col-md-4">
      <strong>Images</strong><br />
      @foreach (Guid id in ViewBag.Images) // a képek azonosítóit a nézet adataihoz töltöttük be
      {
        <a href="@Url.Action("ArticleImage", new { Id = id})" target="_blank">
          @* képként betöltjük a kis méretű képet, a nagy méretűre pedig elhelyezünk egy hivatkozást *@
          <img src="@Url.Action("ArticleImage", new { Id = id })" class="img-thumbnail" />
        </a>

      }
    </div>
  }
</div>

<cite>~ Edited: @Model.Date.Value.ToLongTimeString()  Author: @(string.IsNullOrWhiteSpace(@Model.Accounts.name) ? "Unkown" : @Model.Accounts.name) ~</cite>