@using Service.Models

@{
  ViewBag.Title = "Home Page";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<Article>
@if (Model == null || Model.Count() == 0)
{
  <p>No article has been published yet.</p>
}
else
{
  <div class="jumbotron">
    @if (ViewBag.Lead != null)
    {
      <h1>@Html.ActionLink((string)ViewBag.Lead.Title, "Article", new { articleId = ViewBag.Lead.Id })</h1>
      <h2>@ViewBag.Lead.Summary</h2>
      <p class="lead">@ViewBag.Lead.Content</p>
      <div>
        <a href="@Url.Action("Galery","Home", new { articleId = ViewBag.Lead.Id , step= 0})">
          @* képként betöltjük a kis méretű képet, a galeriara pedig elhelyezünk egy hivatkozást *@
          <img src="@Url.Action("ArticleImage","Home", new { Id = ViewBag.Lead.Images[0].Id })" class="img-thumbnail" />
        </a>
      </div>
    }
    </div>
  <div class="row">
    @for (var wIndex = 0; wIndex < Model.Count && wIndex < 10; wIndex++)
    {
      <div class="col-md-4">
        <h2>
          @Html.ActionLink(Model[wIndex].Title, "Article", new { articleId = Model[wIndex].Id })
        </h2>
        <h3>@Model[wIndex].Summary</h3>
      </div>
    }
  </div>
}
